{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'schegen/style.css' %}" />
    <title>ScheGen</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
      <a class="navbar-brand" href="#">
        {% if user.is_authenticated%}
          {{user.username}}
        {% else %}
          SCHEGEN
        {%endif%}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'main'%}">Home </a> 
          </li>
          {% if not user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}">Register</a>
          </li>
          {%endif%}
          {% if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'school_list_view'%}">Your schools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </nav>
    <div class="container-fluid bg-secondary" >
      {% block content%}

      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>